/logs/**
/failed/**
/data/**
!/data/**/
!/data/**/*.dvc
!/data/cases/.ignore

# python virtual environment and caches
.venv
__pycache__
.mypy_cache
.pytest_cache
.ruff_cache

# pyenv version
.python-version

# dotenv
.env